//
// MOBILE FIRST (< 768px) ------------------------------------------------------------
//

@charset "utf-8";
@import "__settings";
@import "__normalize";


//
// LOAD ICON FONT --------------------------------------------------------------------
//

@font-face {
	font-family: "Icon";
	src:url(../fonts/icons.eot);
	src:url(../fonts/icons.eot?#iefix) format("embedded-opentype"),
		url(../fonts/icons.woff) format("woff"),
		url(../fonts/icons.ttf) format("truetype"),
		url(../fonts/icons.svg#icon) format("svg");
	font-weight: normal;
	font-style: normal;
}


//
// WEBFONT ICONS ------------------------------------------------------
//

// Don't add relative paths here
// as thiongs get messed up when
// grunt builds a deploy version
// @include css-font-face("Icon", "../../../fonts/icons");

%icon-base:before {
	font-family: "Icon";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	speak: none;
}


.icon-arrow-down:before,

 { 
	@extend %icon-base:before; 
}


//
// ICONS --------------------------------------------------------------
// Use single quotes ('') for content in pseudo-selectors,
// double quotes ("") are not supported in <= IE8
//

.icon-arrow-down:before { content: '\e609'; }





// FIX BROKEN BOX-MODEL 
// Note: doesn't work in IE7 (padding is still added to the box width/height)
// https://developer.mozilla.org/en-US/docs/CSS/box-sizing
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


// CLEARFIX
// http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }


//
// GENERAL ---------------------------------------------------------------------------
//


body {
	width: 100%;
	background-color: #EFEFEF;
	font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include css-transition(background, 150ms, ease-out, "false");
}



h1 {
	margin: 100px 0px 10px 10px;
	font-size: 70px;
	
}

h2 {
	font-size: 60px;
	font-weight: lighter;
	margin-top: 10px;
	
}

a {
	text-decoration: none;
	@include transition(all ease-in-out 300ms);

}

p {
	font-size: 30px;
	color: #666;
}

img {
	display: block;
}

li {
	padding: .25em 0;
	vertical-align: middle;
	font-size: 25px;
	> a {
		display: inline-block;
		font-size: 25px;
		padding: 0px;
		margin: 0px;
	}

}

ul {
	margin-top: 50px;
}

main { 
	position: relative;
	width: 1400px;
	margin: 0px auto 0px auto;
	height: 100%;
}

span {
	color: #777;
	font-weight: normal;
}

a {
	display: block;
	padding: 20px;
	font-size: 20px;
	color: #666;

	&:hover {
		color: black;
	}
}




//
// STRUCTURAL HELPERS ----------------------------------------------------------------
//



.inner {
	padding: 1.5em;
}

.text-center {
	text-align: center;
}


.description {
	font-size: 30px;
	margin: 0px 0px 0px 10px;
	color: #666;
}

.no-padding {
	padding: 0;
}


//
// STYLE HELPERS ----------------------------------------------------------------------
//

.red {
	color: red;	
}

.border-light-gray {
	border: 1px solid #bbb;
}



//
// IMPRESS STEPS ----------------------------------------------------------------------
//



.step {
	width: 1024px;
	height: 960px;
	background-color: white;
}

.controls {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 45%;

	a {
		display: inline-block;
		font-size: 60px;
		color: white;
		@include border-radius(50%);
		background-color: #ddd;
		width: 60px;
		height: 60px;
		padding: 0;

		&:hover { color: #666;}
	}

	#js-next { 
		@include rotate(-90deg); 
		float: right;
		margin-right: 30px;

	}

	#js-previous { 
		@include rotate(90deg);
		float: left;
		margin-left: 30px;
	}
}


//
// #INTRODUCTION -------------------------------------------------------------------------
//

#introduction .inner {
	padding-top: 200px;
}





